* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background:rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container 
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1600px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_Side
{
    position:relative;
    background: #2b2e82;
    padding: 40px;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profileText .imgBox
{
    position: relative;
    width: 140px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.profileText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.contactInfo
{
    padding-top: 40px;
}
.title
{
    color:  #ffff00;
    text-transform: uppercase;
    font-weight:600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color:  #ff3333;
}
.contactInfo ul li span{
    color: #fff;
    font-weight: 300;
}
.contactInfo_edu
{
    padding-top: 30px;
}
.contactInfo_edu li{
    margin-bottom: 15px;
}
.contactInfo_edu h5
{
    color: #ff3333;
    font-weight: 500;
}
.contactInfo_edu h4
{
    color: #fff;
    font-weight: 400;
}
.contactInfo_edu h3
{
    color: #ff3333;
}
.contactInfo_personal
{
    padding-top: 30px;
}
.contactInfo_personal
{
    padding-top: 30px;
}
.contactInfo_personal li{
    margin-bottom: 15px;
}
.contactInfo_personal h4
{
    color: #fff;
    font-weight: 400;
}

.contactInfo_lang
{
    padding-top: 30px;
}

.contactInfo_lang h4
{
    color: #fff;
    font-weight: 400;
}

.contactInfo_lang li{
    margin-bottom: 15px;
}
.contactInfo_lang
{
    padding-top: 30px;
}


.contactInfo_club
{
    padding-top: 30px;
}
.contactInfo_club li{
    margin-bottom: 15px;
}
.contactInfo_club h4
{
    color: #fff;
    font-weight: 400;
}
.contactInfo_club h3
{
    color: #ff3333;
}

.contactInfo_leader
{
    padding-top: 30px;
}
.contactInfo_leader li{
    margin-bottom: 15px;
}
.contactInfo_leader h4
{
    color: #fff;
    font-weight: 400;
}
.contactInfo_leader h3
{
    color: #ff3333;
}

.contactInfo_address
{
    padding-top: 30px;
}
.contactInfo_address li{
    margin-bottom: 15px;
}
.contactInfo_address h4
{
    color: #fff;
    font-weight: 400;
}
.contactInfo_address ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color:  #ff3333;
}
.contactInfo_address ul li span{
    color: #fff;
    font-weight: 300;
}




.container .right_Side
{
    position: relative;
    background: white;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #2b2e82;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;;
}
.p{
    color: black;
}

.about .box 
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
}

.about .box .text h4{
text-transform: uppercase;
color: #2b2e82;
font-size: 16px;
}
.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

.skills .box h4
{
    text-transform: uppercase;
    color: #67696a;
    font-weight: 500;
}
.skills .box .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
    display: block;
    margin-top: 5px;
}
.skills .box .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #ff3333;
}
.interest ul
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color:  black;
}
.interest ul li{
    list-style: none;
    color: #000000;
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .fa
{
    color: #ff3333;
    font-size: 18px;
    width: 20px;
}

.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;
}
.title2 h2
{
    color: #2b2e82;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;;
}

.about .achieve
{
    padding-top: 30px;
}
.about .achieve li{
    margin-bottom: 15px;
}
.about .achieve h4
{
    color: #fff;
    font-weight: 400;
}



.about .achieve
{
position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.hobbies ul
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color:  black;
}
.hobbies ul li{
    list-style: none;
    color: #000000;
    font-weight: 500;
    margin: 10px 0;
}
.hobbies ul li .fa
{
    color: #ff3333;
    font-size: 16px;
    width: 20px;
}